body{
  background-color: lightgray;
  min-height: 100vh;

}


/* BookShelf css */

.bookshelf-div {
   width:100%;
 }
 
 .bookshelf-div tr{
   border-bottom: #282c34;
 }

  /* CSS for the individual Shelves */
 .shelflink-div {

  font-size: 1.5em;
  font-weight: bold;
  color: black;
  font-style: normal;
  background-image: url("../public/imgs/shelf.png"); /* Sets background image to set of books */
  height: 120px;
  background-size: cover;
  
  display: flex;
    
    /* Gives shadow for easier reading */
  text-shadow: 0 0 5px white,
  0 0 25px white,
  0 0 50px white,
  0 0 100px white;
  
  
 }

 .shelflist-row {

  justify-content:center;
  
 }

 .linkItems {
  text-decoration: none;
 }

 /* CSS for Header portion */

 .headerDiv{

  background-image: url("../public/imgs/banner.jpg");
  background-size: cover;
  padding: 10px;
  
 }
 

 .headerDiv h1{
  text-shadow: 0 0 5px white,
  0 0 25px white,
  0 0 50px white,
  0 0 100px white,
  0 0 150px white;
  
 }

 .headerDiv h2{
  text-shadow: 0 0 5px white,
  0 0 25px white,
  0 0 50px white,
  0 0 100px white,
  0 0 150px white;
  
 }

/* CSS for Footer*/
 #mainFooter{
  
  
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  
 }
