body{
   color: navy;
}


/* BookShelf css */

.bookshelf-table {
   width:100%;
 }
 
 .bookshelf-table tr{
   border-bottom: #282c34;
 }

 .shelflink-div{

  font-size: 1.5em;
  font-weight: bold;
  color: black;
  font-style: normal;
  
  
 }